<% include ../partials/header %>
<link 
  rel="stylesheet"  type='text/css'><link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.css' rel='stylesheet' />


 <style>
body {
   margin: 0;
   padding: 0;
}

#map {
   width: 100%;
	height:370px;
}
.marker {
  background-image: url('/stylesheets/images/mapbox-icon.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
	 
	 
.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
	 
	 
</style>

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<p class="lead">Instamarket</p>
			<div class="list-group">
				<li class="list-group-item active"><%= product.location %></li>
				<li class="list-group-item">Salles: <%= product.author.username %></li>
				<li class="list-group-item">Info 3</li>
			</div>
			<div id='map'></div>
		</div>
		<div class="col-md-9">
			<div id="thumb" class="thumbnail">
				<img class="img-responsive" src="<%= product.image %>">
				<div class="caption">
					<h4 class="pull-right">$<%= product.price %></h4>
					<h4><a><%= product.name %></a></h4>
					<p><%= product.description %></p>
					<p><em> Submitted by <%= product.author.username %></em></p>
					
					<% if(currentUser && product.author.id.equals(currentUser._id)) { %>
					<a class="btn btn-xs btn-warning" href="/products/<%= product._id %>/edit">Edit</a>
					<form class="delete-form" action="/products/<%= product._id %>?_method=DELETE" method="POST">
						<button class="btn btn-xs btn-danger">Delete</button>
					</form>
					<% } %>
				</div>
			</div>
			<div class="well">
				<div class="text-right">
						<a class="btn btn-success" href="/products/<%= product._id %>/comments/new">Add a New Comment</a>
				</div>
				<hr>
				<% product.comments.forEach((comment) => { %>
				<div class="row">
					<div class="col-md-12">
						<span id="userIcon" class="glyphicon glyphicon-user" aria-hidden="true"> </span>
							<strong><%= comment.author.username %></strong>
						<span class="pull-right">10 days ago</span>
						<p>
							<%= comment.text %>
						</p>
						<% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
						<a class="btn btn-xs btn-warning" href="/products/<%=product._id %>/comments/<%=comment._id %>/edit">Edit</a>
						<form class="delete-form" action="/products/<%=product._id %>/comments/<%=comment._id %>?_method=DELETE" method="POST">
							<button class="btn btn-xs btn-danger">Delete</button>
						</form>
						<% } %>

					</div>
				</div>
				<% }) %>
			</div>
		</div>
	</div>
</div>



<script>

	var product = <%- JSON.stringify(product) %>
mapboxgl.accessToken = 'pk.eyJ1IjoiZmVybmFuZGFlayIsImEiOiJjanprNzQ2bDkwZ2Z5M2JwbXpkc3VkbDF6In0.FMCSo4y3F--OzxICpfAlpw';

var map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/mapbox/light-v10',
  center: [18.0579, 59.3307],
  zoom: 5
});

// code from the next step will go here!
var geojson = {
  type: 'FeatureCollection',
  features: [{
    type: 'Feature',
    geometry: {
      type: 'Point',
      coordinates: [18.6435, 60.1282]
    },
    properties: {
      title: product.name,
      description: product.location
    }
  }]
};

	
// add markers to map
geojson.features.forEach(function(marker) {

  // create a HTML element for each feature
  var el = document.createElement('div');
  el.className = 'marker';

  // make a marker for each feature and add to the map
  new mapboxgl.Marker(el)
    .setLngLat(marker.geometry.coordinates)
	.setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
    .setHTML('<h3>' + marker.properties.title + '</h3><p>' + marker.properties.description + '</p>'))
    .addTo(map);
});
	

</script>


<% include ../partials/footer %>
